!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nickname }
  %body
    %a{:href => '/'} Back
    %form{:action => '/buyxrp', :method => :post}
      %select{:name => :coinid}
        %option{:value => :none} -
        - coinids.each do |key|
          - coin = coins[key.to_s]
          - coinname = key.to_s[0, 1].upcase + key.to_s[1..-1]
          - sym = coin['symbol']
          - price = coin['price'] / 10.0
          %option{:value => key} Buy 0.1 XRP with #{price} #{sym}
      %br
      %input{:type => :submit}
