!!!
%html
  %body
    %a{:href => '/auth/twitter'} Login
    %br
    %p The total number of accounts: #{accounts.size}
    - balances.each do |coinid, balance|
      - sym = coins[coinid.to_s]['symbol']
      %p #{coinid}: #{"%.4f" % balance} #{sym}
