!!!
%html
  %head
    %title Wallet
    %meta{:name => :viewport, :content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"}
    %meta{:name => "format-detection", :content => "telephone=no"}
    %link{:media => "only screen and (max-device-width:480px)", :href => "smart.css", :type => "text/css", :rel => "stylesheet"}
    %link{:media => "screen and (min-device-width:481px)", :href => "design.css", :type => "text/css", :rel => "stylesheet"}
  %body
    %a{:href => '/auth/twitter'} Login
    %br
    %p The total number of accounts: #{accounts.size}
    - balances.each do |coinid, balance|
      - sym = coins[coinid.to_s]['symbol']
      %p #{coinid}: #{"%.4f" % balance} #{sym}
