title Web Wallet
meta name=:viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
meta name="format-detection" content="telephone=no"
link media="screen" href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"
script src="/js/jquery-2.1.4.min.js" type="text/javascript"
script src="/js/bootstrap.min.js" type="text/javascript"
