!!!
%html
  %head
    %title Wallet
  %body
    %a{:href => '/'} Back
    %form{:action => '/profile', :method => :post}
      - coinids.each do |coinid|
        %p= coinid
        - payouttoid = "#{coinid}_payoutto"
        - coin = coins[coinid] || {}
        - payoutto = coin[:payoutto] || ''
        %label{:for => payouttoid} Payout To
        %input{:id => payouttoid, :type => :text, :name => payouttoid,
            :size => 34, :value => payoutto}
      %br
      %input{:type => :submit}
